* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .main-content {
    flex: 1;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    padding-left: 20px;
    font-weight: 600;
}

.card .categories {
    display: flex;
    gap: 8px;
}

.card .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
}

.card .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
    display: flex;
    gap: 20px;
}

.footer > button {
    width: 140px;
    height: 40px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
